In [14]:
import pandas as pd

## For 2017-2021 years range, I get tables containing info about 'bank holidays' in the UK

In [15]:
tables = pd.read_html('https://www.gov.uk/bank-holidays')
len(tables)

24

### Example with dates for 2021 year

In [16]:
tables[3]

             0        1                               2
0  28 December  Tuesday     Boxing Day (substitute day)
1  27 December   Monday  Christmas Day (substitute day)
2    30 August   Monday             Summer bank holiday
3       31 May   Monday             Spring bank holiday
4        3 May   Monday          Early May bank holiday
5      5 April   Monday                   Easter Monday
6      2 April   Friday                     Good Friday
7    1 January   Friday                  New Year’s Day

### Make a Dataframe with dates where all months are numbers, not names.

In [17]:
date_list = []
years = [2021, 2020, 2019, 2018, 2017]

## Add year number to first column in all 5 tables
for i in range(len(years)):
    ## Begin counting from 4. tables (year 2021), so I have to add 3 to number/index of every table
    date_list.append([f"{tables[i+3].iloc[j,0]} {years[i]}" for j in range(len(tables[i+3]))])

df = pd.DataFrame(date_list)
df = df.astype('datetime64[ns]')

#### Looking at created DataFrame

In [18]:
df.head()

,0,1,2,3,4,5,6,7
0,2021-12-28,2021-12-27,2021-08-30,2021-05-31,2021-05-03,2021-04-05,2021-04-02,2021-01-01
1,2020-12-28,2020-12-25,2020-08-31,2020-05-25,2020-05-08,2020-04-13,2020-04-10,2020-01-01
2,2019-12-26,2019-12-25,2019-08-26,2019-05-27,2019-05-06,2019-04-22,2019-04-19,2019-01-01
3,2018-12-26,2018-12-25,2018-08-27,2018-05-28,2018-05-07,2018-04-02,2018-03-30,2018-01-01
4,2017-12-26,2017-12-25,2017-08-28,2017-05-29,2017-05-01,2017-04-17,2017-04-14,2017-01-02

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       5 non-null      datetime64[ns]
 1   1       5 non-null      datetime64[ns]
 2   2       5 non-null      datetime64[ns]
 3   3       5 non-null      datetime64[ns]
 4   4       5 non-null      datetime64[ns]
 5   5       5 non-null      datetime64[ns]
 6   6       5 non-null      datetime64[ns]
 7   7       5 non-null      datetime64[ns]
dtypes: datetime64[ns](8)
memory usage: 448.0 bytes

In [20]:
df.to_csv('CSV_files/holiday_bank_info.csv', index=False, index_label=False)